In [1]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\s\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

In [2]:
from bs4 import BeautifulSoup
import requests

In [12]:
#1)#Write a python program to display all the header tags from wikipedia.org and make data frame
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page
Soup =BeautifulSoup(page.content)
Soup
import pandas as pd
htags =[]
for i in Soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    htags.append(i.text)
htags
import pandas as pd
df=pd.DataFrame({'Header':htags})
df

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

In [17]:
#3)#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team andrating.
#c) Top 10 ODI bowlers along with the records of their team andrating.
#3)A) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page
Soup =BeautifulSoup(page.content)
Soup
import pandas as pd
name=[]
for i in Soup.find_all('span',class_="u-hide-phablet"):
    name.append(i.text) 
point=[]
for i in Soup.find_all('td',class_="rankings-block__banner--points"):
    point.append(i.text) 
match=[]
for i in Soup.find_all('td',class_="rankings-block__banner--matches"):
    match.append(i.text)
rating=[]
for i in Soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
n=[]
for i in Soup.find_all('td',class_="table-body__cell u-center-text"):
    n.append(i.text)
for i in range(0,len(n)-1,2):
    match.append(n[i]) 
    point.append(n[i+1]) 
for i in Soup.find_all("td",class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
df1=pd.DataFrame({})
df1['name']=pd.Series(name[:10])
df1['matches']=pd.Series(match[:10])
df1['points']=pd.Series(point[:10])
df1['rating']=pd.Series(rating[:10])
df1

           name matches points rating
0     Australia      23  2,714    116
1      Pakistan      20  2,316    113
2         India      36  4,081    104
3   New Zealand      27  2,806    101
4       England      24  2,426    101
5  South Africa      19  1,910     95
6    Bangladesh      28  2,661     88
7   Afghanistan      16  1,404     87
8     Sri Lanka      32  2,794     68
9   West Indies      38  2,582     55

In [19]:
#3b) Top 10 ODI Batsmen along with the records of their team andrating.
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page
Soup =BeautifulSoup(page.content)
Soup
Menplayer=[]
for i in Soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Menplayer.append(i.text.strip())
Menplayer[:10]
teams1=[]
for i in Soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    teams1.append(i.text.strip())
teams1[:10]
ra=[]
for i in Soup.find_all('td',class_="table-body__cell rating"):
    ra.append(i.text)
ra[:10]
import pandas as pd
df2=pd.DataFrame({'Batsman':Menplayer,'Team':teams1,'Rating':ra})
df2[:10]

                 Batsman Team Rating
0  Rassie van der Dussen   SA    777
1           Fakhar Zaman  PAK    755
2            Imam-ul-Haq  PAK    745
3           Shubman Gill  IND    743
4           Harry Tector  IRE    726
5           David Warner  AUS    726
6        Quinton de Kock   SA    718
7            Virat Kohli  IND    705
8            Steve Smith  AUS    702
9           Rohit Sharma  IND    693

In [21]:
#3c) Top 10 ODI bowlers along with the records of their team andrating.
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page
Soup =BeautifulSoup(page.content)
Soup
Menplayer=[]
for i in Soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Menplayer.append(i.text.strip())
Menplayer[:10]
teams2=[]
for i in Soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    teams2.append(i.text.strip())
teams2[:10]
ra1=[]
for i in Soup.find_all('td',class_="table-body__cell rating"):
    ra1.append(i.text)
ra1[:10]
import pandas as pd
df3=pd.DataFrame({'Bowler':Menplayer,'Team':teams2,'Rating':ra1})
df3[:10]

             Bowler Team Rating
0    Mitchell Starc  AUS    686
1       Rashid Khan  AFG    682
2    Mohammed Siraj  IND    670
3        Matt Henry   NZ    667
4  Mujeeb Ur Rahman  AFG    661
5       Trent Boult   NZ    660
6        Adam Zampa  AUS    652
7    Shaheen Afridi  PAK    630
8     Kuldeep Yadav  IND    622
9   Shakib Al Hasan  BAN    618

In [22]:
#4Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

4#A)Top 10 ODI teamsin women’s cricket along with the records for matches, points and rating.
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page
Soup =BeautifulSoup(page.content)
Soup
import pandas as pd
name=[]
for i in Soup.find_all('span',class_="u-hide-phablet"):
    name.append(i.text) 
point=[]
for i in Soup.find_all('td',class_="rankings-block__banner--points"):
    point.append(i.text) 
match=[]
for i in Soup.find_all('td',class_="rankings-block__banner--matches"):
    match.append(i.text)
rating=[]
for i in Soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
n=[]
for i in Soup.find_all('td',class_="table-body__cell u-center-text"):
    n.append(i.text)
for i in range(0,len(n)-1,2):
    match.append(n[i]) 
    point.append(n[i+1]) 
for i in Soup.find_all("td",class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
df = pd.DataFrame({})
df['name']=pd.Series(name[:10])
df['matches']=pd.Series(match[:10])
df['points']=pd.Series(point[:10])
df['rating']=pd.Series(rating[:10])
df

           name matches points rating
0     Australia      26  4,290    125
1       England      31  3,875    119
2  South Africa      26  3,098    101
3         India      30  3,039     96
4   New Zealand      28  2,688     95
5   West Indies      29  2,743     76
6    Bangladesh      17  1,284     68
7     Sri Lanka      12    820     68
8      Thailand      13    883     62
9      Pakistan      27  1,678     37

In [23]:
#4) b) Top 10 women’s ODI Batting players along with the records of their team and rating
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page
Soup =BeautifulSoup(page.content)
Soup
womenplayer=[]
for i in Soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    womenplayer.append(i.text.strip())
womenplayer[:10]
teams=[]
for i in Soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    teams.append(i.text.strip())
teams[:10]
ra=[]
for i in Soup.find_all('td',class_="table-body__cell rating"):
    ra.append(i.text)
ra[:10]
import pandas as pd
df=pd.DataFrame({'Batswomen':womenplayer,'Team':teams,'Rating':ra})
df[:10]

             Batswomen Team Rating
0  Chamari Athapaththu   SL    758
1          Beth Mooney  AUS    751
2      Laura Wolvaardt   SA    732
3      Smriti Mandhana  IND    708
4         Alyssa Healy  AUS    702
5     Harmanpreet Kaur  IND    694
6         Ellyse Perry  AUS    686
7          Meg Lanning  AUS    682
8      Stafanie Taylor   WI    618
9       Tammy Beaumont  ENG    616

In [24]:
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page
Soup =BeautifulSoup(page.content)
Soup
womenplayer=[]
for i in Soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    womenplayer.append(i.text.strip())
womenplayer[:10]
teams=[]
for i in Soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    teams.append(i.text.strip())
teams[:10]
ra=[]
for i in Soup.find_all('td',class_="table-body__cell rating"):
    ra.append(i.text)
ra[:10]
import pandas as pd
df=pd.DataFrame({'ALROUNDERWOMEN':womenplayer,'Team':teams,'Rating':ra})
df[:10]

      ALROUNDERWOMEN Team Rating
0   Ashleigh Gardner  AUS    389
1    Hayley Matthews   WI    382
2     Marizanne Kapp   SA    349
3       Ellyse Perry  AUS    329
4        Amelia Kerr   NZ    328
5      Deepti Sharma  IND    312
6      Jess Jonassen  AUS    241
7      Sophie Devine   NZ    233
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    200

In [25]:
#5 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
#i) Headline
#ii) Time
#iii) News Link
page = requests.get("https://www.cnbc.com/world/?region=world")
page
Soup =BeautifulSoup(page.content)
Soup
#headline
headline =[]
for i in Soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
headline
#time
time=[]
for i in Soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
#link
for i in Soup.find_all('a',class_="LatestNews-headline"):
    i=i.get('href')
import pandas as pd
df = pd.DataFrame({'HeadLine':headline,'Time':time,'Link':i})
df

,HeadLine,Time,Link
0,Why 'career choices' is the No. 1 conflict amo...,12 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
1,Cruise will reduce robotaxi fleet by 50% in Sa...,13 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
2,Can American-made weapons like F-16s turn the ...,14 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
3,Harvard gut doctor avoids these 4 foods that c...,16 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
4,The clash of sustainability and AI is creating...,16 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
5,On tap next week: 2 housing reports and 2 Inve...,16 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
6,Top 10 best European cities for retirement,16 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
7,Google's plan to purge inactive accounts isn't...,17 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
8,The No. 1 best state to retire in the U.S.—it'...,17 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
9,Mark Cuban passed on an Uber investment that c...,17 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
10,Believing these 5 Social Security myths may re...,17 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
11,Here's why Aldi is looking to the Southern U.S...,18 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
12,Here's how the Huy Fong Foods sriracha shortag...,18 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
13,This ETF is soaring in August as market swoon ...,18 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
14,Morgan Stanley is among the most oversold in t...,18 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
15,Buy these stocks with upside as market fears i...,18 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
16,"Palo Alto shares rise on earnings beat, after ...","August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
17,Wall Street awaits hotly anticipated Nvidia ea...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
18,WeWork plunges another 11% after announcing re...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
19,The iPhone 15 could get one of the biggest upg...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
20,Coral bleaching event in Florida is 'just the ...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
21,Bitcoin is giving a bearish signal. Here’s wha...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
22,Earnings show shoppers will spend money for va...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
23,"Nvidia, key Powell speech to take center stage...","August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
24,My HomePod is now a very expensive doorstop,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
25,3 trends are dividing restaurant companies int...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
26,How hurricanes may affect the 2024 Social Secu...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
27,Rosenblatt names its top picks to play the ‘ag...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
28,It may be tough for Apple to outperform from h...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...
29,'Blue Beetle' tries to take down 'Barbie' in a...,"August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...

In [27]:
#6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
#https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page
Soup =BeautifulSoup(page.content)
Soup
papertitle=[]
for i in Soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    papertitle.append(i.text)
papertitle
author=[]
for i in Soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)
author
date=[]
for i in Soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
date
for i in Soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    i=i.get('href')
import pandas as pd
df=pd.DataFrame({'PaperTitle':papertitle,'Authors':author,'PublishedDate':date,'paperUrl':i})
df

,PaperTitle,Authors,PublishedDate,paperUrl
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [28]:
#7)Write a python program to scrape mentioned details from dineout.co.in and make data frame

page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page
Soup =BeautifulSoup(page.content)
Soup
restname =[]
for i in Soup.find_all('div',class_ ="restnt-info cursor"):
    restname.append(i.text)
restname
cuisine =[]
for i in Soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
cuisine
location=[]
for i in Soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
location
img=[]
for i in Soup.find_all('img',"no-img"):
    img.append(i['data-src'])
img
rating =[]
for i in Soup.find_all('div',class_='restnt-rating rating-4'):
    rating.append(i.text)
rating
import pandas as pd
df=pd.DataFrame({'Restaurant Name':restname,'Cuisine':cuisine,'Location':location,"Rating":rating,"Image_url": img})
df

,Restaurant Name,Cuisine,Location,Rating,Image_url
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle's BarbequePacific Mall,Tagore Garden, W...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,"The Barbeque TimesM2K Corporate Park,Sector 51...","North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...